.single__route {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  margin-bottom: 50px;
  font-family: "Inter", sans-serif;
}

.single__route-padding {
  padding: 0 15px;
}

.single__route-mini-img {
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 20px;
  width: 65px !important;
  height: 65px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  cursor: pointer;
  outline: none;
}

.single__route-mini-img img {
  max-width: 50px;
  max-height: 32px;
}

.single__route-img {
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
  padding: 35px 30px;
  position: relative;
  width: 453px;
}

.single__route-img img {
  max-height: 320px;
  margin: auto;
}

.single__route-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  padding: 9px;
  background-color: #f1f5f9;
  outline: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.single__route-btn svg {
  font-size: 25px;
}

.single__left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 15px;
}

.single__left h1 {
  width: 550px;
  margin-bottom: 8px;
}

.card__rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__rating-stars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.single__left-price {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 20px;
}

.single__left-price del {
  color: #da002b;
  font-size: 14px;
  margin-bottom: 5px;
}

.single__left-price h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #d9663b;
}

.single__left-price span {
  font-size: 14px;
  color: #181616;
  font-weight: 500;
}

.single__left-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 16px;
}

.single__left-info p {
  margin-bottom: 16px;
}

.single__left-info-model {
  color: #212529;
  margin-right: 10px;
}

.single__left-info-name-l {
  color: #34d374;
  font-weight: 600;
  font-size: 18px;
}

.single__left-actions {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.single__left-actions p {
  margin-right: 8px;
  font-size: 16px;
}

.single__left-actions-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #fff;
  margin-right: 10px;
  font-size: 22px;
}

.single__left-actions-icon.facebook {
  background-color: #3b5998 !important;
}

.single__left-actions-icon.telegram {
  background-color: #08c !important;
}

.single__left-actions-icon.twitter {
  background-color: #36d8ff !important;
}

.single__left-actions-icon.whatsapp {
  background-color: #25d366 !important;
}

@media screen and (max-width: 1207px) {
  .single__route {
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .single__route img {
    width: 40%;
    margin-right: 10%;
  }

  .single__left {
    width: 50%;
  }

  .single__left .buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .single__left .add__cart {
    width: 45%;
  }
}

@media screen and (max-width: 900px) {
  .single__route img {
    width: 60%;
    margin: auto;
    height: 20%;
  }

  .single__left {
    margin-top: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .single__left .add__cart {
    width: 100%;
  }

  .single__left .add__bag {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
