.products {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  font-family: "Inter", sans-serif;
  padding-bottom: 60px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 260px;
  height: 409px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  padding: 15px;
  justify-content: space-between;
}

.card__image {
  position: relative;
  width: 230px;
  height: 160px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card__image img {
  height: 160px;
}

.card__image .card__image-cart {
  position: absolute;
  right: 0;
  background-color: #da002b;
  border: none;
  padding: 5px;
  font-size: 17px;
  display: flex;
  align-items: center;
  border-radius: 7px;
}

.card__image .card__image-cart:hover {
  cursor: pointer;
}

.card__image .card__image-heart {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  border: none;
  font-size: 25px;
}

.card__image .card__image-heart:hover {
  cursor: pointer;
}

.card__body {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.card__title {
  font-size: 14px;
  margin-bottom: 10px;
  transition: 0.3s;
  height: 40px;
  max-width: 230px;
}

.card__title:hover {
  color: #da002b;
}

.card__rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card__rating-reviews {
  color: #ccc;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.card__price {
  font-size: 18px;
  color: #141821;
}

.card__price del {
  color: #af5679;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

.card__cart {
  /* background-color: #008dff; */

  background-color: #fa002f;
  border: none;
  margin-top: 8px;
  padding: 10px 115px;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.card__cart:hover {
  cursor: pointer;
  background-color: #da002b;
}

/* @media screen and (max-width: 1024px) {
  .products {
    gap: 20px;
  }
  .card {
    width: auto;
    gap: 0px;
  }
}

@media screen and (max-width: 940px) {
} */

@media screen and (max-width: 600px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .card {
    width: auto;

    height: auto;
  }
  .card__image {
    height: 250px;
  }
  .card__rating {
    margin-top: 30px;
    flex-direction: column;
  }
  .card__cart {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .card__image .card__image-cart,
  .card__image .card__image-heart {
    position: absolute;
    right: 30px;
  }
  .card__image .card__image-heart {
    background-color: transparent;
  }
}
/* 
@media screen and (max-width: 500px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }
  .card__image {
    width: 100px;
    height: 100px;
  }
  .card__image .card__image-cart,
  .card__image .card__image-heart {
    position: absolute;
    right: 0px;
  }
  .card__image img {
    width: 100px;
    height: 300px;
  }
} */

@media screen and (max-width: 600px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .card {
    width: auto;
    padding: 10px 7px;
    margin-top: 20px;
  }
  .card__image {
    height: 200px;
    width: 100px;
    /* margin-bottom: 100px; */
  }
  .card__image img {
    width: 100px;
    height: 150px;
  }
  .card__image .card__image-cart,
  .card__image .card__image-heart {
    position: absolute;
    right: -10px;
  }
  .card__image .card__image-cart {
    top: 10px;
  }
}
