.skeleton {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  padding-bottom: 60px;
}

.skeleton__item {
  width: 260px;
  height: 409px;
}

.skeleton__img {
  width: 230px;
  height: 300px;
  background-color: #eee;
  border-radius: 6px;
}

.skeleton__desc,
.skeleton__title {
  width: 90%;
  height: 18px;
  border-radius: 4px;
  background-color: #eee;
  margin-top: 12px;
}

.skeleton__desc {
  width: 45%;
}

.skeleton__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}

.skeleton__price {
  width: 30%;
  height: 18px;
  border-radius: 4px;
  background-color: #eee;
}

.skeleton__circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eee;
}

.skeleton__anime {
  background: linear-gradient(90deg, #eee, #ddd, #eee);
  background-size: 200%;
  animation: skeleton 2s linear infinite;
}

@keyframes skeleton {
  to {
    background-position: 200%;
  }
}

/* @media screen and (max-width: 600px) {
  .skeleton {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .skeleton__item {
    width: auto;
  }

  .skeleton__img {
    height: 220px;
  }
} */

@media screen and (max-width: 600px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .card {
    width: auto;

    height: auto;
  }
  .card__image {
    height: 250px;
  }
  .card__rating {
    margin-top: 30px;
    flex-direction: column;
  }
  .card__cart {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .card__image .card__image-cart,
  .card__image .card__image-heart {
    position: absolute;
    right: 30px;
  }
  .card__image .card__image-heart {
    background-color: transparent;
  }
}
