.wishlist {
  display: flex;

  flex-direction: column;
  /* padding: 10px 0 70px; */
  padding: 30px 0 70px;
  width: 100%;
  font-family: "Inter", sans-serif;
}

.wishlist__container {
  width: 1220px;
  margin: 0 auto;
}

.wishlist__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wishlist__title {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  margin-bottom: 16px;
}

.wishlist__top {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 20px;
}

.wishlist__content {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.09);
  border-radius: 12px;
  margin-bottom: 20px;
  background-color: #fff;
}

.wishlist__img {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-right: 36px;

  box-shadow: 0 10px 30px rgba(209, 213, 223, 0.5);
  border-radius: 12px;
  overflow: hidden;
}

.wishlist__img img {
  /* width: 100px;
  height: 100px; */
  width: 100%;
  height: 100%;
}

.wishlist__item-name {
  font-size: 20px;
  margin-bottom: 8px;
}

.wishlist__item-name:hover {
  color: #da002b;
}

.wishlist__body-price h2 {
  font-size: 18px;
  color: #141821;
  font-weight: 500;
}

.wishlist__body-price del {
  color: #af5679;
  font-size: 14px;
}

.wishlist__body {
  display: flex;
}

.wishlist__body-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.wishlist__body-buttons-btn-red {
  font-size: 14px;
  color: #fff;
  background-color: #da002b;
  border: 2px solid #da002b;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.wishlist__body-buttons-btn-blue {
  font-size: 14px;
  color: #fff;
  background-color: #33a4ff;
  border: 2px solid #33a4ff;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.wishlist__body-buttons-btn-blue:hover {
  background-color: transparent;
  color: #33a4ff;
}

.wishlist__body-buttons-btn-red:hover {
  background-color: transparent;
  color: #da002b;
}

.media-price {
  display: none;
}

@media screen and (max-width: 1300px) {
  .wishlist {
    padding: 10px 10px 70px 10px;
  }
}

@media screen and (max-width: 1260px) {
  .wishlist__content {
    /* max-width: 1024px; */
    width: 100%;
  }
  .wishlist__container {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 900px) {
  .wishlist__content {
    flex-direction: column;
    justify-content: space-between;
  }
  .wishlist__top {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .wishlist__content del {
    display: none;
  }

  .wishlist__body {
    flex-direction: column;
  }

  .wishlist__body-price {
    position: relative;
    display: flex;
    align-items: center;
  }

  .media-price {
    display: inline-block;
    margin-right: 10px;
    font-weight: 600;
  }

  .wishlist__body-price h2 {
    display: inline-block;
    position: absolute;
    right: 0;
  }

  .wishlist__body-buttons {
    /* order: 1; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
  }

  .wishlist__body-buttons button {
    margin-bottom: 0;
    margin-left: 0;
  }
}
