.footer {
  display: flex;
  align-items: center;
  /* justify-content: center; */

  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-feature-settings: "pnum" on, "lnum" on;
  background-color: #f2f2f2;

  padding-top: 30px;
  padding-bottom: 40px;
  width: 100%;
}

.footer hr {
  width: 100%;
  height: 1px;
  background-color: #efefef;
}

.footer__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  flex: 1;
  padding: 0 0 40px;
}

.footer__title {
  font-size: 20px;
  margin-bottom: 32px;
}

.footer__images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 409px;
}

.footer__img {
  background-color: #fff;
  width: 170px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.footer__img:hover {
  background-color: #999;
  cursor: pointer;
}

.footer__bottom {
  display: flex;
  align-items: flex-start;
}

/* .footer */

@media screen and (max-width: 1024px) {
  .footer__top-right img {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    padding-bottom: 60px;
  }
  .footer__top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
  }
  .footer__top a {
    display: none;
  }
  .footer__bottom p {
    display: none;
  }
  .footer__bottom-links {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .footer__top-left {
    align-items: flex-start;
  }
  .footer__images {
    max-width: 200px;
  }
}
