.fwb {
  font-weight: 700;
}

.cart__wrapper {
  padding: 30px 0 70px;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-gap: 30px;
  align-items: start;
  font-family: "Raleway", sans-serif;
  font-feature-settings: "pnum" on, "lnum" on;
}

.cart__wrapper-title {
  font-size: 42px;
  font-weight: 600;
  color: #111;
  margin-bottom: 32px;
}

.cart__wrapper-content {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.09);
  border-radius: 12px;
  padding: 24px;
  background-color: #fff;
}

.cart__wrapper-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 16px;
}

hr {
  height: 1px;
  background-color: #e8e8e8;
  margin-bottom: 16px;
}

.cart__wrapper-item hr:last-child {
  display: none;
}

.cart__wrapper-promo-form {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;
}

#promo {
  width: 100%;
  padding: 12px;
  border: 2px solid #000;
  border-radius: 12px;
  overflow: hidden;
  background-color: transparent;
  height: 52px;
  position: relative;
  /* z-index: 11; */
  outline: none;
  font-feature-settings: "pnum" on, "lnum" on;
  font-size: 16px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

.cart__wrapper-promo-form-btn {
  /* position: absolute;
  right: 1px;
  top: 1px; 
  padding: 12px;
  height: 52px;
  background-color: #da002b;
  color: #fff;
  font-size: 16px;
  border: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px; */
  align-items: center;
  background-color: #da002b;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  height: 52px;
  justify-content: center;
  line-height: 24px;
  min-width: 70px;
  padding: 14px 16px;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  width: auto;
  position: absolute;
  right: 1.5px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-right: none;
  border-left: none;
}

.cart__wrapper-promo-form-btn:hover {
  cursor: pointer;
}

.cart__wrapper-item:last-child {
  margin-bottom: 0;
}

.cart__wrapper-item-img img {
  width: 100px;
  margin-right: 16px;
  border-radius: 5 px;
}

/* .cart__wrapper-item h3,
.cart__wrapper-item h2,
.cart__wrapper-item span {
  margin: 0;
} */

.cart__wrapper-form {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.09);
  border-radius: 12px;
  padding: 16px;
  background-color: #fff;
}

.cart__wrapper-form h3 {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart__wrapper-form > p {
  color: #12bf6c;
  font-size: 14px;
  margin-bottom: 16px;
}

#form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#form input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 14px;
  height: 52px;
}

#form button {
  width: 100%;
  padding: 10px 20px;
  height: 52px;
  background-color: #da002b;
  border: 2px solid #da002b;
  color: #fff;
  font-size: 16px;
  border-radius: 12px;
  transition: 0.3s;
}

#form button:hover {
  cursor: pointer;
  background-color: transparent;
  color: #da002b;
}

.cart__wrapper-form h3:last-child {
  margin-top: 20px;
}

.price {
  font-feature-settings: "pnum" on, "lnum" on;
  font-size: 18px;
  font-weight: 700;
  color: #da002b;
  line-height: 24px;
  width: 163px;
  margin-left: 30px;
}

.left {
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.left__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
}

.left__top > h2 {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #111;
  transition: 0.3s;
}

.left__top > h2:hover {
  color: #da002b;
  cursor: pointer;
}

.left__top-quantity {
  border: 2px solid #000;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}

.left__top-quantity button {
  font-size: 22px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: 4px;
}

.left__top-quantity span {
  font-feature-settings: "pnum" on, "lnum" on;
}

.left__top-quantity img:hover {
  cursor: pointer;
}

.left__top-actions {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.left__top-actions del {
  width: 163px;
  margin-left: 30px;
}

.left__bottom {
  display: flex;
  align-items: center;

  width: 480px;
}

.left__bottom button {
  border: none;
  background-color: transparent;
  font-size: 13px;
  color: #2b71f8;
  transition: 0.3s;
}

.left__bottom button:last-child {
  margin-left: 24px;
  position: relative;
}

.left__bottom button:last-child::before {
  background-color: #e8e8e8;
  content: "";
  display: block;
  height: 100%;
  left: -12px;
  position: absolute;
  top: 0;
  width: 1px;
}

.left__bottom button:hover {
  color: #da002b;
  cursor: pointer;
}

.cart__wrapper-form-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.cart__wrapper-form-info p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 15px;
}

/* @media screen and (max-width: 990px) {
  .cart__wrapper {
    grid-template-columns: 1fr;
  }
  .cart__wrapper-content {
    order: 2;
  }
  .cart__wrapper-form {
    order: 1;
  }
  .cart__wrapper-item {
    align-items: center;
  }
  .cart__wrapper-form input[type="text"] {
    margin-right: 15px;
  }
} */

@media screen and (max-width: 1450px) {
  .left__top {
    display: flex;
    flex: 1;
    align-items: flex-start;
    gap: 30px;
    padding-left: 20px;
    width: auto;
  }
  .left__top h2 {
    max-width: 250px;
  }
}

@media screen and (max-width: 1200px) {
  .cart__wrapper {
    grid-template-columns: 1fr;
  }
  .cart__wrapper-content {
    order: 1;
  }
  .cart__wrapper-form {
    order: 2;
  }
  .left__top {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 900px) {
  .left__top {
    justify-content: space-between;
    max-width: 500px;
  }
  .left__top-quantity {
    margin-right: 100px;
  }
}
