@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-feature-settings: "pnum" on, "lnum" on;
}

body {
  background-color: #f4f7fd;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 1470px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}
